* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
  }
  
  body {
    background-color: #121529;
    color: #fff;
  }
  

  iframe {
    border: none;
  }
  
  .iframe-container {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 112%;
    padding: 10px;
    display: flex;
    justify-content: center;
  }
  
  .iframe-content {
    width: 100%;
    height: 100%;
    bottom: 30px;
    position: relative;
  }
  
  .logo {
    width: 100%;
  
  }
  
  .logo img {
    width: 200px;
    position: relative;
    padding: 10px 0px 80px 0px;
    float: inline-start;
  }
  
  
  
  @media screen and (min-device-width: 1800px) and (max-device-width: 2600px) { 
    .Eggvy-card{
      font-size: 30px;
    }
  }
  
  
  